/* HEADER */

.header-container {
  width: 100%;
  height: 900px;
  /* background-image: url("../../images/Blob.svg"); */
  background-position: 100% 40%;
  background-size: 1000px;
  background-repeat: no-repeat;
}

.header-content {
  margin: 100px 0 0 0;
  display: flex;
}

.header-image {
  height: 496px;
  width: 503px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 58px;
  color: #001a49;
  width: 581px;
  line-height: 68px;
}

h2 {
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #4f596a;
  width: 549px;
  line-height: 30px;
  margin: 48px 0;
}

.header-info p {
  font-family: "IBM Plex Mono";
  margin-top: 63px;
}
.header-btn {
  color: white;
  text-decoration: none;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 24px;
  border-radius: 33px;
  width: 328px;
  height: 72px;
  font-size: 20px;
  margin: 0 0;
}

.header-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
}

/* NUMBERS SECTION */

.numbers-section {
  display: flex;
  border: 1px solid #e7eaeb;
  border-radius: 21px;
  text-align: center;
  margin: 0 160px;
  padding: 50px;
  height: 172px;
}

.numbers-section h4 {
  font-size: 40px;
  color: #001a49;
}

.numbers-section p {
  font-size: 16px;
  font-family: "IBM Plex Mono";
  color: #4f596a;
}
.home-btn {
  color: white;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 24px;
  border-radius: 33px;
  width: 256px;
  height: 52px;
  text-decoration: none;
  font-weight: bold;
}

.home-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
}

.testimonials-section{
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #CD10FF 15.76%, #9F06FF 84.63%);
  opacity: 0.75;
  text-align: center;
  color: white;
  padding: 5em 0;
}

.testimonials-section h1{
  font-size: 46px;
  max-width: 460px;
  color: white;
}

.testimonials-section .testimonials-subtitle{
  font-size: 20px;
  opacity: 0.8;
  margin-top: 2em;
  max-width: 560px;
}

.testimonials-section .testimonials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3em;
}

.testimonials-section .testimonials .testimonial{
  background: rgba(76, 0, 112, 0.195968);
  border-radius: 20px;
  width: 30em;
  margin-top: 1em;
  padding: 2em;
}

.testimonials-section .testimonials .testimonial .testimonial-user{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  text-align: left;
}

.testimonial .testimonial-user img{
  margin-right: 0;
}

.testimonial .testimonial-user .testimonial-user-identification{
  margin-left: 1em;
}

.call-to-action{
 display: flex; 
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.call-to-action h1{
  font-size: 46px;
  margin-bottom: 1em;
}