/* HEADER */

.header-container {
  width: 100%;
  height: 900px;
  background-image: url("../../images/Blob.svg");
  background-position: 100% 40%;
  background-size: 1000px;
  background-repeat: no-repeat;
}

.header-content {
  margin: 100px 0 0 0;
  display: flex;
}

.header-image {
  margin-top: 150px;
  height: 496px;
  width: 503px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 150px;
  font-size: 58px;
  color: #001a49;
  width: 581px;
  line-height: 68px;
}

h2 {
  font-size: 20px;
  font-family: "IBM Plex Mono";
  color: #4f596a;
  width: 549px;
  line-height: 30px;
  margin: 48px 0;
}

.header-avatars-div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 0;
}

.header-avatars-div p {
  font-family: "IBM Plex Mono";
  margin-left: 10px;
}

.header-info strong {
  color: #c60eff;
  font-weight: 100;
}

.header-btn {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 24px;
  border-radius: 33px;
  width: 328px;
  height: 72px;
  font-size: 20px;
  margin: 0 0;
  transition: 0.1 ease-in-out;
}

.header-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
  color: white;
}

/* NUMBERS SECTION */

.numbers-section {
  display: flex;
  border: 1px solid #e7eaeb;
  border-radius: 21px;
  text-align: center;
  margin: 0 160px;
  padding: 50px;
  height: 172px;
}

.numbers-section div {
  width: 200px;
}

.numbers-section h4 {
  font-size: 40px;
  color: #001a49;
}

.numbers-section p {
  font-size: 16px;
  font-family: "IBM Plex Mono";
  color: #4f596a;
}
.home-btn {
  color: white;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 24px;
  border-radius: 33px;
  width: 256px;
  height: 52px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.1 ease-in-out;
}

.home-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
  color: white;
}

/* FREE SECTION */

.free-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.free-section img {
  margin-bottom: 20px;
}

.free-section p {
  font-family: "IBM Plex Mono";
}
/* SERVICES SECTION */

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-card {
  display: flex;
  width: 1120px;
  height: 172px;
  background: linear-gradient(44.11deg, #fdf4ff 15.75%, #faf3ff 84.63%);
  border-radius: 21px;
  margin-top: 32px;
  align-items: center;
}

.services-card-text {
  width: 900px;
  margin-left: 0;
}

.services-card-text h6 {
  color: #001a49;
  font-size: 24px;
  margin-bottom: 15px;
}

.services-card-text p {
  font-size: 16px;
  line-height: 24px;
}

.services-section-header {
  text-align: center;
  width: 930px;
  margin-top: 128px;
  margin-bottom: 50px;
}

.services-section-header h5 {
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 24px;
}

.services-section-header p {
  font-family: "IBM Plex Mono";
  color: #4f596a;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  margin-top: 30px;
}

/* PARTNERS SECTION */

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 100px;
}

.partners-section-logos {
  background: linear-gradient(44.11deg, #f3c3ff 15.75%, #e7c1ff 84.63%);
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partners-section-logos img {
  margin: 20px;
}

.logo-provi {
  margin-top: 0;
  margin-bottom: 32px;
}

/* POTENTIAL SECTION */

.potential-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.potential-section h5 {
  color: #001a49;
  font-size: 46px;
  line-height: 56px;
  width: 700px;
  text-align: start;
  margin-bottom: 32px;
}

.potential-section p {
  font-family: "IBM Plex Mono";
  color: #4f596a;
  width: 560px;
  font-size: 20px;
  line-height: 30px;
  text-align: start;
  margin-left: 0;
}

/* FAQ */

.faq {
  width: 100%;
  height: 850px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../../images/man-waving.svg");
  background-position: 0 200px;
  background-size: 600px;
  background-repeat: no-repeat;
}

.faq-group {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.faq-group h5 {
  color: #001a49;
  font-size: 46px;
  line-height: 56px;
  text-align: start;
  margin-bottom: 32px;
  margin-left: 100px;
}

.faq-group h3 {
  color: #001a49;
  font-size: 20px;
  margin-left: 0;
  width: 650px;
}

.faq-group p {
  font-family: "IBM Plex Mono";
  color: #4f596a;
  padding: 20px;
  width: 700px;
  margin-left: 0;
}

.question {
  width: 835px;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 21px;
  border: 2px solid #002d7e;
  margin-top: 20px;
}

.question-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

.question .display-none {
  display: none;
}

.question .display-block {
  display: block;
}

.question-head {
  cursor: pointer;
}

/* TESTIMONIALS */

.testimonials-section {
  background: linear-gradient(
    44.11deg,
    #cd10ff 15.75%,
    #cd10ff 15.76%,
    #9f06ff 84.63%
  );
  opacity: 0.75;
  text-align: center;
  color: white;
  padding: 5em 0;
}

.testimonials-section h1 {
  font-size: 46px;
  max-width: 460px;
  color: white;
  margin-top: 0px;
}

.testimonials-section .testimonials-subtitle {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 1em;
  max-width: 560px;
}

.testimonials-section .testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3em;
}

.testimonials-section .testimonials .testimonial {
  background: rgba(76, 0, 112, 0.195968);
  border-radius: 20px;
  width: 30em;
  margin-top: 1em;
  padding: 2em;
}

.testimonials-section .testimonials .testimonial .testimonial-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  text-align: left;
}

.testimonial .testimonial-user img {
  margin-right: 0;
}

.testimonial .testimonial-user .testimonial-user-identification {
  margin-left: 1em;
}

.call-to-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.call-to-action h1 {
  font-size: 46px;
  margin-bottom: 1em;
}

/* FOOTER */

footer {
  background: #fcf3ff;
  padding: 3em 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

footer h3 {
  margin-left: 0;
}

footer .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .menu a {
  font-family: "IBM Plex Mono";
  color: #4f596a;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 0;
}

footer .support {
  display: flex;
  flex-direction: column;
}

footer .support a {
  font-family: "IBM Plex Mono";
  color: #4f596a;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 0;
}
footer .social-media img {
  margin-left: 20px;
  margin-top: 60px;
}
