.header {
  background-image: url("../../images/Blob.svg");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-btn {
  color: white;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 24px;
  border-radius: 33px;
  width: 256px;
  height: 52px;
}

.home-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
}
