.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #001a49;
  margin-top: 25px;
}

.logo-div {
  display: flex;
}

.links-div {
  display: flex;
  cursor: pointer;
  transition: 0.1 ease-in-out;
}

.links-div p {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.1 ease-in-out;
}

.links-div a {
  color: #001a49;
  text-decoration: none;
  transition: 0.1 ease-in-out;
}

.navbar p:hover,
a:hover {
  transition: 0.1 ease-in-out;
  color: rgb(0, 26, 73, 0.75);
}

.login-div a {
  text-decoration: none;
}

.navbar-entrar {
  color: #001a49;
  margin-right: 20px;
}

.navbar-btn {
  color: white;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  padding: 16px;
  border-radius: 33px;
  width: 256px;
  height: 52px;
  transition: 0.1 ease-in-out;
}

.navbar-btn:hover {
  background: linear-gradient(44.11deg, #9f06ff 15.75%, #cd10ff 84.63%);
  color: white;
}
