@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}
